/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    background: url('../../static/images/gpp.png');
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
.form-signin {
    max-width: 520px;
    margin:5% auto;

    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    box-sizing: border-box;

}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    padding: 18px 50px 18px 8px;
    /*margin-bottom:10px;/*/
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    background-color:#fbfbfb;
}


/*buttons*/
.form-group .action-button {
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 10px 5px;
}

.reset-input {
    position: absolute;
    top: 43px;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    color: #b3b3b3;
    z-index: 9999;
    outline-style: none;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
}

.text-warning{
    font-size: 12px;
    margin-bottom: 8px;
}


.form-group .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


.info-glyphicon {
    position: absolute;
}


